<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="teaEvaluationInfo.create" class="create">New TeaEvaluationInfo</a></li>
    </ul>
</div>
<div id="list-teaEvaluationInfo" class="content scaffold-list" role="main">
    <h1>TeaEvaluationInfo List</h1>

  <div class="mob-list">

    <div class="mob-search">
      <button type="button" ng-click="vm.searchService.showFilter()">Filter</button>
    </div>

    <ul ng-if="!vm.widthOver480" class="list-group">
      <li class="list-group-item" ng-repeat="teaEvaluationInfo in vm.teaEvaluationInfoList">
        <a ui-sref="teaEvaluationInfo.show({id: teaEvaluationInfo.id})">{{teaEvaluationInfo.colorRate}}</a>
        <div>
          <!--{{teaEvaluationInfo.teaEvaluationEventInfo.gettDate()}}-->
          <!--{{teaEvaluationInfo.teaEvaluationEventInfo}}-->
          <span>{{teaEvaluationInfo.colorRate}}</span>
          <!--<span>{{teaEvaluationInfo.year | date:'yyyy'}}</span>-->
          <span>{{teaEvaluationInfo.smellRate}}</span>
          <span>{{teaEvaluationInfo.tasteRate}}</span>
          <span>{{teaEvaluationInfo.feelingRate}}</span>
          <span>{{teaEvaluationInfo.potentialRate}}</span>
          <span>{{teaEvaluationInfo.overallRate}}</span>
          <span>{{teaEvaluationInfo.comments}}</span>

        </div>
      </li>
    </ul>

    <ul>
      <li ng-repeat="teaEvaluationEventInfo in vm.teaEvaluationEventInfoList">
        <span>{{teaEvaluationEventInfo.temperature}}</span>
      </li>
    </ul>

  </div>


    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Feeling Rate</th>
      <th>Color Rate</th>
      <th>Comments</th>
      <th>Overall Rate</th>
      <th>Tea Evaluation Event Info</th>
      <th>Smell Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="teaEvaluationInfo in vm.teaEvaluationInfoList">
      <td>
        <a ui-sref="teaEvaluationInfo.show({id: teaEvaluationInfo.id})">{{teaEvaluationInfo.id}}</a>
      </td>
      <td>
        <span>{{teaEvaluationInfo.feelingRate}}</span>
      </td>
      <td>
        <span>{{teaEvaluationInfo.colorRate}}</span>
      </td>
      <td>
        <span>{{teaEvaluationInfo.comments}}</span>
      </td>
      <td>
        <span>{{teaEvaluationInfo.overallRate}}</span>
      </td>
      <td>
        <a ui-sref="teaEvaluationEventInfo.show({id: teaEvaluationInfo.teaEvaluationEventInfo.id})">{{teaEvaluationInfo.teaEvaluationEventInfo.toString()}}</a>
      </td>
      <td>
        <span>{{teaEvaluationInfo.smellRate}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>