<fieldset class="form">
  <div class="fieldcontain required">
    <label for="teaAge">Tea Age
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="teaAge" id="teaAge" ng-model="vm.users.teaAge" type="number" />
  </div>
  <div class="fieldcontain required">
    <label for="role">Role
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="role" id="role" ng-model="vm.users.role" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="gender">Gender
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="gender" id="gender" ng-model="vm.users.gender" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="level">Level
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="level" id="level" ng-model="vm.users.level" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="name">Name
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="name" id="name" ng-model="vm.users.name" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="mobile">Mobile
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="mobile" id="mobile" ng-model="vm.users.mobile" type="text" />
  </div>
</fieldset>