<fieldset class="form">
  <div class="fieldcontain">
    <label for="user">User</label>
    <input name="user" id="user" ng-model="vm.teaEvaluationRecord.user" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="date">Date</label>
    <input name="date" id="date" ng-model="vm.teaEvaluationRecord.date" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="tea">Tea</label>
    <input name="tea" id="tea" ng-model="vm.teaEvaluationRecord.tea" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="feelingRate">Feeling Rate
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="feelingRate" id="feelingRate" ng-model="vm.teaEvaluationRecord.feelingRate" type="number" step="any" />
  </div>
  <div class="fieldcontain required">
    <label for="colorRate">Color Rate
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="colorRate" id="colorRate" ng-model="vm.teaEvaluationRecord.colorRate" type="number" step="any" />
  </div>
  <div class="fieldcontain required">
    <label for="comments">Comments
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="comments" id="comments" ng-model="vm.teaEvaluationRecord.comments" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="overallRate">Overall Rate
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="overallRate" id="overallRate" ng-model="vm.teaEvaluationRecord.overallRate" type="number" step="any" />
  </div>
  <div class="fieldcontain required">
    <label for="smellRate">Smell Rate
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="smellRate" id="smellRate" ng-model="vm.teaEvaluationRecord.smellRate" type="number" step="any" />
  </div>
  <div class="fieldcontain required">
    <label for="tasteRate">Taste Rate
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="tasteRate" id="tasteRate" ng-model="vm.teaEvaluationRecord.tasteRate" type="number" step="any" />
  </div>
  <div class="fieldcontain required">
    <label for="potentialRate">Potential Rate
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="potentialRate" id="potentialRate" ng-model="vm.teaEvaluationRecord.potentialRate" type="number" step="any" />
  </div>
</fieldset>