<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="teaBasicInfo.list" class="list">TeaBasicInfo List</a></li>
    </ul>
</div>
<div id="edit-teaBasicInfo" class="content scaffold-edit" role="main">
    <h1>Edit TeaBasicInfo</h1>
    <ul class="errors" role="alert" ng-if="vm.errors">
        <li ng-repeat="error in vm.errors">{{error.message}}</li>
    </ul>

    <form name="updateTeaBasicInfo" ng-submit="vm.updateTeaBasicInfo()">
        <!--<fieldset class="form">-->
            <!--<ng-include src="'/cxmjstart/teaBasicInfo/form.mob.html'"></ng-include>-->
        <!--</fieldset>-->
        <ng-include src="'/cxmjstart/teaBasicInfo/form.mob.html'"></ng-include>
        <fieldset class="buttons">
            <input type="submit" class="save" value="Update" />
        </fieldset>
    </form>
</div>