<div style="/*position: relative; height:100%; padding-top:70px; top:-70px;*/ ">
  <div class="nav" role="navigation">
      <ul>
          <li><a ui-sref="index" class="home">主页</a></li>
          <li><a ui-sref="teaBasicInfo.create" class="create">新建类目</a></li>
      </ul>
  </div>
  <div id="list-teaBasicInfo" class="content scaffold-list" role="main">
    <h5>茶叶类目</h5>

  <!--should slide in from right side-->
  <div class="glass-pane" ng-show="vm.FullFilter.showOptions.main">
  <!--<div class="glass-pane" ng-show="vm.searchService.show">-->
    <div class="glass"></div>
    <div class="content-pane">
      <ng-include src="'/cxmjstart/teaBasicInfo/filter.adv.form.html'"></ng-include>
    </div>
  </div>

  <div class="mob-list">

    <div class="mob-search">
      <!--<input type="search" class="input-sm" ng-model="vm.searchModel.name" placeholder="" />-->
      <button type="button"  ng-click="vm.filter.QuickFilter.toggleSort('year')">By Year</button>
      <button type="button"  ng-click="vm.filter.QuickFilter.toggleSort('id')">By Time</button>
      <!--<button type="button" class="btn" ng-click="vm.searchService.showFilter()">Filter</button>-->
      <button type="button" class="btn" ng-click="vm.FullFilter.showFilter()">Filter</button>
    </div>
    <div class="mob-search">
      <!--<button type="button" ng-click="">Name</button>-->
      <button type="button" ng-click="vm.filter.QuickFilter.showPanel(1)">Brand</button>
      <button type="button" ng-click="vm.filter.QuickFilter.showPanel(2)">Unit</button>
      <button type="button" ng-click="vm.filter.QuickFilter.showPanel(3)">Region</button>
      <button type="button" ng-click="vm.filter.QuickFilter.clearFilter()">Clear</button>
      <!--<button type="button" ng-click="">Category</button>-->
    </div>

    <div ng-show="vm.filter.QuickFilter.showOptions.main" class="glass-pane" style="height: 100%;" >
      <div class="glass"></div>
      <div class="content-pane">
        <ng-include src="'/cxmjstart/teaBasicInfo/filter.form.html'"></ng-include>
      </div>
    </div>

    <div id="mob-list">
    <ul ng-if="!vm.widthOver480" class="list-group">
      <li class="list-group-item" ng-repeat="teaBasicInfo in vm.teaBasicInfoList">
        <a style="font-weight: 900; " ui-sref="teaBasicInfo.show({id:teaBasicInfo.id})">{{teaBasicInfo.name}}</a>
        <label class="label label-info">{{teaBasicInfo.category}}</label>

        <div style="display: flex; justify-content: space-between">
          <span><label>规格：</label>{{vm.unitLabelListById[teaBasicInfo.unitLabel.id].weightInGram}}/{{vm.unitLabelListById[teaBasicInfo.unitLabel.id].unit}}</span>
          <span><label>地区：</label>{{teaBasicInfo.region}}</span>
        </div>
        <!--<div>单位：{{teaBasicInfo.unitLabel.weightInGram}}/{{teaBasicInfo.unitLabel.unit}}</div>-->
        <!--<div>地区：{{teaBasicInfo.region}}</div>-->

      </li>

    </ul>
    </div>


  </div>
  </div>
</div>

    <table ng-if="vm.widthOver480">
  <thead>
    <tr>
      <!--<th>Id</th>-->
      <th>Name</th>
      <th>Brand</th>
      <th>Year</th>
      <th>Category</th>
      <th>Region</th>
      <th>County</th>
      <th>township</th>
      <th>village</th>
      <th>committee</th>
      <th>unitLabel</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="teaBasicInfo in vm.teaBasicInfoList">
      <!--<td>-->
        <!--<a ui-sref="teaBasicInfo.show({id: teaBasicInfo.id})">{{teaBasicInfo.id}}</a>-->
      <!--</td>-->
      <td>
        <span><a ui-sref="teaBasicInfo.show({id: teaBasicInfo.id})">{{teaBasicInfo.name}}</a></span>
      </td>
      <td>
        <span>{{teaBasicInfo.brand}}</span>
      </td>
      <td>
        <!--<span>{{teaBasicInfo.year | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>-->
        <span>{{teaBasicInfo.year | date:'yyyy'}}</span>
      </td>
      <td>
        <span>{{teaBasicInfo.category}}</span>
      </td>
      <td>
        <span>{{teaBasicInfo.region}}</span>
      </td>
      <td>
        <span>{{teaBasicInfo.county}}</span>
      </td>
      <td>
        <span>{{teaBasicInfo.township}}</span>
      </td>
      <td>
        <span>{{teaBasicInfo.village}}</span>
      </td>
      <td>
        <span>{{teaBasicInfo.committee}}</span>
      </td>
      <td>
        <span>{{teaBasicInfo.unitLabel}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>